.headline {
  text-align: center;
  font-family: "Advent Pro", sans-serif;
  font-size: 40px;
}

.oishii-img {
  width: 33%;
  padding: 10px;
}

.bizarr-img {
  width: 33%;
  padding: 10px;
}

.threejs {
  width: 33%;
  padding: 10px;
}
