@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.tech-header {
  /* font-family: "Advent Pro", sans-serif; */
  text-align: center;
  font-size: 25px;
  padding-bottom: 15px;
  padding-top: 20px;
}

.javascript-icon {
  width: 50px;
  justify-content: space-between;
}

.html-css {
  width: 80px;
  justify-content: space-between;
}

.react-icon {
  width: 50px;
}

.redux-icon {
  width: 50px;
}

.node-icon {
  width: 50px;
}

.postgres-icon {
  width: 50px;
}

.sql-icon {
  width: 50px;
}

.webpack-icon {
  width: 50px;
}

.firebase-icon {
  width: 50px;
}

.mui-icon {
  width: 50px;
}

.ts-icon {
  width: 50px;
}

.python-icon {
  width: 50px;
}
